body, h1, h2, p, label, input, select, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f0f6; 
    color: #333; 
    padding: 20px;
}

header {
    background-color: #ff9cd1; 
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color:  #91024e;
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    color: #555;
    margin-top: 10px;
    line-height: 1.5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

label {
    color: #d667b1; 
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}

input, select {
    border-radius: 10px;
    padding: 12px;
    border: 2px solid #ff66b2; 
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #ff80bf;
    outline: none;
}

.btn-primary {
    background-color: #ff80bf; 
    border-color: #ff66b2;
    padding: 15px 20px;
    font-size: 1.1rem;
    border-radius: 30px;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #da1e7c; 
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #ff9cd1;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    color: rgb(219, 20, 169);
    font-size: 1rem;
    margin: 0;
}

.result-style {
    margin-top: 20px;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #da1e7c;
    border-radius: 10px;
    text-align: center;
}
